[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/k-muramatsu
[access "refs/for/refs/*"]
	read = group user/k-muramatsu
	push = group user/k-muramatsu
	label-Code-Review = -2..+2 group user/k-muramatsu
	label-Verified = -1..+1 group user/k-muramatsu
	rebase = group user/k-muramatsu
	removeReviewer = group user/k-muramatsu
	submit = group user/k-muramatsu
[access "refs/heads/*"]
	read = group user/k-muramatsu
	create = group user/k-muramatsu
	push = +force group user/k-muramatsu
	pushMerge = group user/k-muramatsu
[access "refs/tags/*"]
	push = +force group user/k-muramatsu
	pushTag = group user/k-muramatsu
	pushSignedTag = group user/k-muramatsu
